In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import Ridge, Lasso, RidgeCV, LassoCV

In [4]:
df = pd.read_csv("./Auto-cleaned.csv")
df = df.drop(df.columns[[0,9]], axis=1)
df.origin = df.origin.astype("category")
print(df.shape)
df.head(3)

(392, 8)

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,1
1,15.0,8,350.0,165.0,3693,11.5,70,1
2,18.0,8,318.0,150.0,3436,11.0,70,1

In [5]:
features = df.drop('mpg', axis=1)
features = pd.get_dummies(features)
features = (features - features.mean()) / features.std()

target = df.mpg

In [6]:
features.head(3)

,cylinders,displacement,horsepower,weight,acceleration,year,origin_1,origin_2,origin_3
0,1.482053,1.075915,0.663285,0.619748,-1.283618,-1.623241,0.773608,-0.457538,-0.501749
1,1.482053,1.486832,1.572585,0.842258,-1.464852,-1.623241,0.773608,-0.457538,-0.501749
2,1.482053,1.181033,1.182885,0.539692,-1.646086,-1.623241,0.773608,-0.457538,-0.501749

## Ridge Regression

In [11]:
grid = ('alpha',[0.001,0.01,0.1,1,10,100,1000,10000])
ridge = Ridge()
ridgeCV = GridSearchCV(ridge.param_grid=grid, return_train_score=True)
ridgeCV = fit(features,target)

print()
print("Best Alpha = ", ridgeCV.best_params_)

SyntaxError: keyword can't be an expression (<ipython-input-11-712f64bcb6f1>, line 3)